<script>
/* Add "active" class to appropriate nav elements.
 * All elements with class theClass will get the class "active" appended to 
 * them. */
function activeNavLink(theClass){    
    var i, d = document.getElementsByClassName(theClass);
    for (i = 0; i < d.length; i++) {
        d[i].className += " active";
    }
}    

/* Run (i.e., eval()) the code associated with textarea with id 
 * theID. If there is an Editor instance associated with the textarea,
 * get and run the code in that. Otherwise run the code in the
 * textarea. */
function run(theID) {
    var theTextArea = document.getElementById(theID),
        theCode = theTextArea.value;
    if (theTextArea.Editor) {
        theCode = theTextArea.Editor.getValue();
    }
    return eval(theCode);
}

/* From https://stackoverflow.com/questions/4793604/how-to-do-insert-after-in-javascript-without-using-a-library
 * but with ugly hack. Inserts a new node after the node after 
 * the CodeMirror div associated with the textAreaNode.
 */
function insertAfterEditor(textAreaNode, newNode) {
    textAreaNode.parentNode.insertBefore(newNode, textAreaNode.nextSibling.nextSibling);
}

/* Add a CodeMirror instance and a "Run" button to textarea with 
 * id theID. Return reference to the CodeMirror instance. */
function embellish(theID) {
    var theTextArea = document.getElementById(theID);

    var theEditor = CodeMirror.fromTextArea(theTextArea, {
        lineNumbers: false,
        mode: "text/javascript",
        indentUnit: 4,
        matchBrackets: true
    });

    // Add editor reference to textarea
    theTextArea.Editor = theEditor;
    
    // Add a button to run the code in the editor.
    var runButton = document.createElement('button');
    runButton.setAttribute('onclick', 'run("' + theID + '")');
    runButton.setAttribute('class', 'runbutton');
    runButton.innerHTML = 'Run';
    insertAfterEditor(theTextArea, runButton);
    
    return theEditor;
}

/* Write a block of HTML consisting of the stuff in theBlock. theBlock is
 * an array of code lines. */
function makeBlock(theBlock) { 
    var blockStr = theBlock.join("\n");
    document.write(blockStr);
}

/* Make a textarea with an attached CodeMirror editor and "Run" button.
 * snippet.id the the id of the textarea to be made.
 * snippet.code is an array of code lines. */
function makeTextArea(snippet) {
    document.write('<textarea id="' + snippet.id + '">');
    makeBlock(snippet.code);
    document.write('</textarea>');
    embellish(snippet.id);
}

/* Add the string sitename to the page's title for non-root pages. */
function addToTitle(sitename) {
  if (document.title != sitename) {
    document.title = sitename + ' | ' + document.title;
  }
}
</script>

