li li { font-style: normal !important; }

.CodeMirror {
  height: auto;
  margin-top: 0.2em;
  padding: 4px 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 0.3em #ddd;
}

.CodeMirror pre {
  font-family: 'Inconsolata', monospace;
  font-weight: normal !important;
  font-size: 0.8em;
  line-height: 1.2em;
}
